<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="ACHR.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup>
  <appSettings>
   
      <add key="MagiConnectLogin" value="ìnishpharmacywebsrvuser"/>
      <add key="MagiConnectPassword" value="CC554^^1"/>
      <add key="MagiConnectOrderStatus_NewOrder" value="f3d75ee4-7dd5-428e-964c-19252f283c31"/>
      <add key="MagiConnectOrderStatus_Downloaded" value="eab0ed46-686f-4b57-8f16-124b03714f16"/>
      <add key="MagiConnectOrderStatus_Cancelled" value="49260a83-3e17-434e-add1-ed9a6c86485e"/>

  </appSettings>

  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <ACHR.Properties.Settings>
      <setting name="Ayyekah_Magin_Sales_sales" serializeAs="String">
        <value>https://inishpharmacy2018_com.abcommerce.com/webservices/sales.asmx</value>
      </setting>
      <setting name="Ayyekah_MagiConnect_Stock_stock" serializeAs="String">
        <value>https://inishpharmacy2018_com.abcommerce.com/webservices/stock.asmx</value>
      </setting>
    </ACHR.Properties.Settings>
  </applicationSettings>
</configuration>
